@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria-1:#EE2677;
    --cor-primaria-1:#E86252;
    --cor-primaria-1:#E87EA1;
    --cor-primaria-1:#EBB3A9;
    --cor-primaria-1:#EEEBD0;

    --cor-secundaria-1: #fff;
    --cor-secundaria-2: #1d1d1d;

    --fonte: 'OpenSans', sans-serif;
    
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor-primaria-1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

